{% extends 'base.html' %}
	{% block head_title %}Lista de Productos{% endblock %}
	{% block content %}
  {% load bootstrap3 %}
	<style media="screen">
.tbody{
  width: 100%;
  height: 800px;
  overflow: scroll;
  -webkit-overflow: scroll;
  -mozkit-overflow: scroll;
}
.table{
  height: 600px;
}
</style>
<script type="text/javascript">
(function(document) {
  'use strict';

  var LightTableFilter = (function(Arr) {

    var _input;

    function _onInputEvent(e) {
      _input = e.target;
      var tables = document.getElementsByClassName(_input.getAttribute('data-table'));
      Arr.forEach.call(tables, function(table) {
        Arr.forEach.call(table.tBodies, function(tbody) {
          Arr.forEach.call(tbody.rows, _filter);
        });
      });
    }

    function _filter(row) {
      var text = row.textContent.toLowerCase(), val = _input.value.toLowerCase();
      row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';
    }

    return {
      init: function() {
        var inputs = document.getElementsByClassName('light-table-filter');
        Arr.forEach.call(inputs, function(input) {
          input.oninput = _onInputEvent;
        });
      }
    };
  })(Array.prototype);

  document.addEventListener('readystatechange', function() {
    if (document.readyState === 'complete') {
      LightTableFilter.init();
    }
  });

})(document);
</script>
<!-- START PAGE CONTENT -->
<div class="content">
  <!-- START JUMBOTRON -->
  <div class="jumbotron" data-pages="parallax">
    <div class=" container-fluid container-fixed-lg sm-p-l-0 sm-p-r-0">
      <div class="inner">
        <!-- START BREADCRUMB -->
         <ol class="breadcrumb">
           <li class="breadcrumb-item active">Almacen</li>
         </ol>
        <!-- END BREADCRUMB -->
      </div>
    </div>
  </div>
  <!-- END JUMBOTRON -->
  <!-- START CONTAINER FLUID -->
  <div class="container-fluid container-fixed-lg">
    <!-- BEGIN PlACE PAGE CONTENT HERE -->
{%if user.is_authenticated%}
	<div class="row">
		<div align="center">
			<h1 style="color:black">Lista de Productos</h1>
			{% load staticfiles %}
			<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
			<div align="left" id="buscar"><h2 style="color:black">Buscar: <input type="search" class="buscar light-table-filter" data-table="table" placeholder="Buscar"></h2>{% if request.user.is_superuser %}<a href="{% url "productos:categoria" %}"><button class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i> Agregar Categoria</button></a>{% else %}{% endif %}</div>
			<table class="table table-hover">
					<thead class="bg-info">
						<tr>
							<th class="text-center aling-middle">#</th>
							<th class="text-center aling-middle">Código</th>
							<th class="text-center aling-middle">Código de Barras</th>
	            <th class="text-center aling-middle">Descripción</th>
	            <th class="text-center aling-middle">Medida</th>
							<th class="text-center aling-middle">Unidad</th>
							<th class="text-center aling-middle">Existencia</th>
	            <th class="text-center aling-middle">Proveedor</th>
							<th class="text-center aling-middle">Ubicacion</th>
							<th class="text-center aling-middle">Cantidad x Caja</th>
							<th class="text-center aling-middle">Cantidad x Rollo/Bolsa</th>
							<th class="text-center aling-middle">Costo</th>
							<th class="text-center aling-middle">Acciones</th>

						</tr>


					</thead>
					<tbody>
						{% for productos in latest_alcohol_list %}
						<tr class="bg-dark">
							<td class="text-center align-middle">{{ productos.id }}</td>
							<td class="text-center align-middle">{{ productos.codigo_p }}</td>
							<td class="text-center align-middle">{{ productos.cod_barras }}</td>
	            <td class="text-center align-middle">{{ productos.descripcion }}</td>
	            <td class="text-center align-middle">{{ productos.medida }}</td>
							<td class="text-center align-middle">{{ productos.unidad }}</td>
							<td class="text-center align-middle">{{ productos.unidades }}</td>
							<td class="text-center align-middle">{{ productos.categoria }}</td>
							<td class="text-center align-middle">{{ productos.ubicacion }}</td>
							<td class="text-center align-middle">{{ productos.cantidad_caja }}</td>
							<td class="text-center align-middle">{{ productos.cantidad_rb }}</td>
							<td class="text-center align-middle">{{ productos.costo }}</td>

	            <td class="text-center align-middle">
								{% if request.user.is_superuser %}
								<a href="{% url "productos:producto_detail" productos.id %}">
									<button type="submit" class="btn btn-info btn-block"><i class="fa fa-eye" aria-hidden="true"></i> Ver</button>
								</a>
								<br>
								<a href="{% url "productos:padentro" productos.id %}">
									<button type="submit" class="btn btn-success btn-block"><i class="fa fa-eye" aria-hidden="true"></i> Entrada</button>
								</a>
								<br>
								<a href="{% url "productos:pafuera" productos.id %}">
									<button type="submit" class="btn btn-danger btn-block"><i class="fa fa-eye" aria-hidden="true"></i> Salida</button>
								</a>
								<br>
								<a href="{% url "productos:delete" productos.id %}">
									<button type="submit" class="btn btn-warning btn-block"><i class="fa fa-eraser" aria-hidden="true"></i> Eliminar</button>
								</a>
								<br>
								{% else %}
								<a href="{% url "productos:producto_detail" productos.id %}">
									<button type="submit" class="btn btn-success btn-block"><i class="fa fa-eye" aria-hidden="true"></i> Ver</button>
								</a>
								{% endif %}
							</td>
						</tr>
	        {% endfor %}
					</tbody>


				</table>
			</div>
		</div>
		{%else%}
		      <div class="w-100 text-center">
		        <h1>Primero Debes Iniciar Sesión</h1>
		        {% url 'login' as login %}
		        <a href="{{login}}"><button type="button" name="button" class="btn btn-info">Iniciar Sesión</button></a>
		      </div>
		      {%endif%}
		      <!-- END PLACE PAGE CONTENT HERE -->
		      </div>
		      <!-- END CONTAINER FLUID -->
		      </div>
		      <!-- END PAGE CONTENT -->

		      {% endblock %}
