{% extends 'base.html' %}
	{% block head_title %}Lista de Productos{% endblock %}
	{% block content %}
  {% load bootstrap3 %}
	<style media="screen">
.tbody{
  width: 100%;
  height: 800px;
  overflow: scroll;
  -webkit-overflow: scroll;
  -mozkit-overflow: scroll;
}
.table{
  height: 600px;
}
</style>
<script type="text/javascript">
(function(document) {
  'use strict';

  var LightTableFilter = (function(Arr) {

    var _input;

    function _onInputEvent(e) {
      _input = e.target;
      var tables = document.getElementsByClassName(_input.getAttribute('data-table'));
      Arr.forEach.call(tables, function(table) {
        Arr.forEach.call(table.tBodies, function(tbody) {
          Arr.forEach.call(tbody.rows, _filter);
        });
      });
    }

    function _filter(row) {
      var text = row.textContent.toLowerCase(), val = _input.value.toLowerCase();
      row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';
    }

    return {
      init: function() {
        var inputs = document.getElementsByClassName('light-table-filter');
        Arr.forEach.call(inputs, function(input) {
          input.oninput = _onInputEvent;
        });
      }
    };
  })(Array.prototype);

  document.addEventListener('readystatechange', function() {
    if (document.readyState === 'complete') {
      LightTableFilter.init();
    }
  });

})(document);
</script>
<!-- START PAGE CONTENT -->
<div class="content">
  <!-- START JUMBOTRON -->
  <div class="jumbotron" data-pages="parallax">
    <div class=" container-fluid container-fixed-lg sm-p-l-0 sm-p-r-0">
      <div class="inner">
        <!-- START BREADCRUMB -->
         <ol class="breadcrumb">
           <li class="breadcrumb-item active">Almacen</li>
         </ol>
        <!-- END BREADCRUMB -->
      </div>
    </div>
  </div>
  <!-- END JUMBOTRON -->
  <!-- START CONTAINER FLUID -->
  <div class="container-fluid container-fixed-lg">
    <!-- BEGIN PlACE PAGE CONTENT HERE -->
{%if user.is_authenticated%}
	<div class="row">
		<div align="center">
			<h1 style="color:black">Lista de Productos</h1>
			{% load staticfiles %}
			<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
			<div class="col-md-6" id="buscar">
	      <div class="form-group">
	        <input id="search" type="search" class="light-table-filter text-dark" data-table="table" placeholder="Buscar">
	      </div>
	    </div>
			<div class="row">
        <div class="col-lg-12 text-center">
          {% if user.is_superuser %}
            <button type="button" name="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
              Registrar Producto <i class="far fa-edit"></i>
            </button>
            {% else %}
            {% endif %}
            <div class="row">
              <div class="col-md-12 text-right">
                <sub class="text-muted">Cantidad de Productos:{{count}}</sub>
              </div>
            </div>
        </div>
      </div>

			<table class="table table-hover">
					<thead class="bg-info">
						<tr>
							<th class="text-center aling-middle">#</th>
							<th class="text-center aling-middle">Código</th>
							<th class="text-center aling-middle">Código de Barras</th>
	            <th class="text-center aling-middle">Descripción</th>
	            <th class="text-center aling-middle">Medida</th>
							<th class="text-center aling-middle">Unidad</th>
							<th class="text-center aling-middle">Existencia</th>
	            <th class="text-center aling-middle">Proveedor</th>
							<th class="text-center aling-middle">Ubicacion</th>
							<th class="text-center aling-middle">Cantidad x Caja</th>
							<th class="text-center aling-middle">Cantidad x Rollo/Bolsa</th>
							<th class="text-center aling-middle">Costo</th>
							<th class="text-center aling-middle">Acciones</th>

						</tr>


					</thead>
					<tbody>
						{% for productos in latest_alcohol_list %}
						<tr class="bg-dark">
							<td class="text-center align-middle">{{ productos.id }}</td>
							<td class="text-center align-middle">{{ productos.codigo_p }}</td>
							<td class="text-center align-middle">{{ productos.cod_barras }}</td>
	            <td class="text-center align-middle">{{ productos.descripcion }}</td>
	            <td class="text-center align-middle">{{ productos.medida }}</td>
							<td class="text-center align-middle">{{ productos.unidad }}</td>
							<td class="text-center align-middle">{{ productos.unidades }}</td>
							<td class="text-center align-middle">{{ productos.categoria }}</td>
							<td class="text-center align-middle">{{ productos.ubicacion }}</td>
							<td class="text-center align-middle">{{ productos.cantidad_caja }}</td>
							<td class="text-center align-middle">{{ productos.cantidad_rb }}</td>
							<td class="text-center align-middle">{{ productos.costo }}</td>

	            <td class="text-center align-middle">
								{% if request.user.is_superuser %}
								<a href="{% url "productos:producto_detail" productos.id %}">
									<button type="submit" class="btn btn-info btn-block"><i class="fa fa-eye" aria-hidden="true"></i> Ver</button>
								</a>
								<br>
								<a href="{% url "productos:padentro" productos.id %}">
									<button type="submit" class="btn btn-success btn-block"><i class="fa fa-eye" aria-hidden="true"></i> Entrada</button>
								</a>
								<br>
								<a href="{% url "productos:pafuera" productos.id %}">
									<button type="submit" class="btn btn-danger btn-block"><i class="fa fa-eye" aria-hidden="true"></i> Salida</button>
								</a>
								<br>
								<a href="{% url "productos:delete" productos.id %}">
									<button type="submit" class="btn btn-warning btn-block"><i class="fa fa-eraser" aria-hidden="true"></i> Eliminar</button>
								</a>
								<br>
								{% else %}
								<a href="{% url "productos:producto_detail" productos.id %}">
									<button type="submit" class="btn btn-success btn-block"><i class="fa fa-eye" aria-hidden="true"></i> Ver</button>
								</a>
								{% endif %}
							</td>
						</tr>
	        {% endfor %}
					</tbody>


				</table>
				<!-- Inicio Modal Nuevo Producto -->
      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog" style="max-width:900px; min-width:900px;">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Agregar Producto</h4>
            </div>
            <div class="modal-body">
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="codigo">Código</label>
                      <input type="text" name="codigo" name="codigo" title="" required id="codigo" maxlength="50" placeholder="Código..." class="form-control" />
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="descripcion">Descripción</label>
                      <input type="text" name="descripcion" name="descripcion" title="" required id="descripcion" maxlength="50" placeholder="Descripción..." class="form-control" />
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="id_cod_barras" class="btn btn-default barcode">Código de Barras</label>
                      <div class="row bootstrap4-multi-input">
                        <div class="col-12">
                          <input type="file" name="cod_barras" id="id_cod_barras" class="hidden" title="" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="unidad">Unidad</label>
                      <select name="unidad" name="unidad" title="" required class="form-control" maxlength="50" id="unidad">
                        <option value="" selected>-------</option>
                        <option value="metros">metros</option>
                        <option value="pieza">pieza</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="unidad">Existencia</label>
                      <input type="number" name="existencia" value="0" required name="unidad" title="" min="0" id="unidad" placeholder="Unidad..." class="form-control" />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="cantidad_caja">Cantidad (Caja)</label>
                      <input type="number" name="cantidad_caja" value="0" required name="cantidad_caja" title="" min="0" id="cantidad_caja" placeholder="0,000" class="form-control" />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="cantidad_rb">Cantidad (Rollo/Bolsa)</label>
                      <input type="number" name="cantidad_rb" value="0" required name="cantidad_rb" title="" min="0" id="cantidad_rb" placeholder="0,000" class="form-control" />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="proveedor">Proveedor</label>
                      <select name="proveedor" name="proveedor" title="" required class="form-control" maxlength="50" id="proveedor">
                        <option value="" selected>-------</option>
                        <option value="LG">LG</option>
                        <option value="Tubo Qualtek">Tubo Qualtek</option>
                        <option value="Tubo Ecoline">Tubo Ecoline</option>
                        <option value="Tubo W">Tubo W</option>
                        <option value="Vidrios">Vidrios</option>
                        <option value="Q-Ties">Q-Ties</option>
                        <option value="Vidrios">Vidrios</option>
                        <option value="Steren">Steren</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="ubicacion">Ubicación</label>
                      <select name="ubicacion" name="ubicacion" title="" required class="form-control" maxlength="50" id="ubicacion">
                        <option value="" selected>-------</option>
                        <option value="PB">PB</option>
                        <option value="P1">P1</option>
                        <option value="P2">P2</option>
                        <option value="1E">1E</option>
                        <option value="1B">1B</option>
                        <option value="2B">2B</option>
                        <option value="PB1">PB1</option>
                        <option value="PB2">PB2</option>
                        <option value="PB3">PB3</option>
                        <option value="PB4">PB4</option>
                        <option value="PB5">PB5</option>
                        <option value="PB6">PB6</option>
                        <option value="PBE">PBE</option>
                        <option value="PBC">PBC</option>
                        <option value="PBO">PBO</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 text-right">
                    <button  type="submit" name="submit" class="btn btn-default">Hecho</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Fin Modal Nuevo Producto -->
			</div>
		</div>
		{%else%}
		      <div class="w-100 text-center">
		        <h1>Primero Debes Iniciar Sesión</h1>
		        {% url 'login' as login %}
		        <a href="{{login}}"><button type="button" name="button" class="btn btn-info">Iniciar Sesión</button></a>
		      </div>
		      {%endif%}
		      <!-- END PLACE PAGE CONTENT HERE -->
		      </div>
		      <!-- END CONTAINER FLUID -->
		      </div>
		      <!-- END PAGE CONTENT -->

		      {% endblock %}
