{% load static %}
<!-- START PAGE-CONTAINER -->
<div class="page-container" body onLoad="show5()">
  <!-- START PAGE HEADER WRAPPER -->
  <!-- START HEADER -->
  <div class="header ">
    <!-- START MOBILE SIDEBAR TOGGLE -->
    <a href="#" class="btn-link toggle-sidebar hidden-lg-up pg pg-menu" data-toggle="sidebar">
    </a>
    <!-- END MOBILE SIDEBAR TOGGLE -->
    <div class="">
      <div class="brand inline">
        <img src="{% static 'img/logo-negro-gnd.png' %}" alt="logo" data-src="{% static 'img/logo-negro-gnd.png' %}" data-src-retina="{% static 'img/logo-negro-gnd.png' %}" height="50">
      </div>

    </div>
    <div class="d-flex align-items-center">
        <p><a><span id="txt"></span></a></p>
    </div>
  </div>
  <!-- END HEADER -->
  <!-- END PAGE HEADER WRAPPER -->
  <!-- START PAGE CONTENT WRAPPER -->
  <div class="page-content-wrapper">
